<div class="columns">
  <div class="column">
    <h1 class="title has-bottom-border">Item Placement</h1>
    <div class="field">
      <p class="heading">Trick Level</p>
      <div *ngIf="getTrickLevels(); then showTricks; else noTricks"></div>
      <ng-template #showTricks>
        <ul>
          <li *ngFor="let trickLevel of getTrickLevels()">{{ trickLevel }}</li>
        </ul>
      </ng-template>
      <ng-template #noTricks>
        <p>No Tricks</p>
      </ng-template>
    </div>
    <div class="field">
      <p class="heading">Shuffle Mode</p>
      <p>{{ getValue('shuffleMode', 'rules') }}</p>
    </div>
    <div class="field">
      <p class="heading">Point of No Return Items</p>
      <p>{{ getValue('pointOfNoReturnItems', 'rules') }}</p>
    </div>
  </div>
  <div class="column">
    <h1 class="title has-bottom-border">Items</h1>
    <div class="field">
      <p class="heading">Starting Items</p>
      <div *ngIf="getStartingItems(); then showStartingItems; else vanillaItems"></div>
      <ng-template #showStartingItems>
        <ul>
          <li *ngFor="let item of getStartingItems()">{{ item }}</li>
        </ul>
      </ng-template>
      <ng-template #vanillaItems>
        <p>Vanilla</p>
      </ng-template>
    </div>
    <div class="field">
      <p class="heading">Item Pool</p>
      <div *ngIf="getItemPool(); then showItemPool; else default"></div>
      <ng-template #showItemPool>
        <ul>
          <li *ngFor="let item of getItemPool()">{{ item }}</li>
        </ul>
      </ng-template>
      <ng-template #default>
        <p>Default</p>
      </ng-template>
    </div>
    <div class="field" *ngIf="hasRandomStartingItems()">
      <p class="heading">Random Starting Items</p>
      <p>{{ getRandomizerForm().rules.randomStartingItems.minimum }} to {{ getRandomizerForm().rules.randomStartingItems.maximum }}</p>
    </div>
    <div class="field" *ngIf="getRandomizerForm().rules.goal === 'artifact-collection'">
      <p class="heading">Chozo Artifacts Shuffled</p>
      <p>{{ getRandomizerForm().rules.goalArtifacts }}</p>
    </div>
  </div>
  <div class="column">
    <h1 class="title has-bottom-border">Gameplay</h1>
    <div class="field">
      <p class="heading">Goal</p>
      <p>{{ getValue('goal', 'rules') }}</p>
    </div>
    <div class="field">
      <p class="heading">Heat Protection</p>
      <p>{{ getValue('heatProtection', 'rules') }}</p>
    </div>
    <div class="field">
      <p class="heading">Suit Damage Reduction</p>
      <p>{{ getValue('suitDamageReduction', 'rules') }}</p>
    </div>
  </div>
  <div class="column">
    <h1 class="title has-bottom-border">World Layout</h1>
    <div class="field">
      <p class="heading">Starting Location</p>
      <p>{{ getValue('startingArea', 'rules') }}</p>
    </div>
    <div class="field">
      <p class="heading">Elevators</p>
      <p>{{ getRandomizerForm().rules.elevatorShuffle ? 'Random Two-Way' : 'Vanilla' }}</p>
    </div>
  </div>
  <div class="column" *ngIf="getMiscSettings()">
    <h1 class="title has-bottom-border">Game Changes</h1>
    <ul>
      <li *ngFor="let setting of getMiscSettings()">{{ setting }}</li>
    </ul>
  </div>
</div>
