<div class="modal" [class.is-active]="getOpen()">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm Remove</p>
      <button class="delete" aria-label="close" (click)="setOpen(false)"></button>
    </header>
    <section class="modal-card-body has-text-left">
      <p>Are you sure you want to remove {{ getPreset() }}?</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="onRemovePreset()">Remove</button>
      <button class="button" (click)="setOpen(false)" >Cancel</button>
    </footer>
  </div>
</div>
