/* You can add global styles to this file, and also import other style files */
@import '~bulmaswatch/darkly/_variables';
@import '~bulma/bulma';
@import '~bulmaswatch/darkly/_overrides';

html {
  overflow-y: auto;
}

.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-content {
    flex: 1;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.loading-indicator {
  position: relative;
  pointer-events: none;
  &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
  }
}