/* You can add global styles to this file, and also import other style files */
@import '~bulmaswatch/darkly/_variables';
@import './assets/scss/bulma_overrides';
@import '~bulma/bulma';
@import '~bulmaswatch/darkly/_overrides';

html {
  overflow: auto;
}

html, body {
  margin: 0;
  height: 100%;
}

.section {
  padding: 1.5rem;
}

.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-wrapper-content {
    flex: 1;
    overflow: auto;
  }
}

.loading-indicator {
  position: relative;
  pointer-events: none;
  &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5rem;
      height: 5rem;
  }
}

.select select, .textarea, .input {
  background-color: #101010;
  color: #efefef;
  border-color: #404040;
}

[disabled].input {
  background-color: #202020;
  color: #b0b0b0;
  border-color: #606060;
}

// Remove spinners from number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
