/* You can add global styles to this file, and also import other style files */
@import '~bulmaswatch/darkly/_variables';
@import './assets/scss/bulma_overrides';
@import '~bulma/bulma';
@import '~bulmaswatch/darkly/_overrides';

html {
  overflow: auto;
}

html, body {
  margin: 0;
  height: 100%;
}

.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-wrapper-content {
    flex: 1;
    overflow: auto;
  }
}

.loading-indicator {
  position: relative;
  pointer-events: none;
  &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
  }
}

.input {
  background-color: #101010;
  color: #efefef;
  border-color: #404040;
}
