button.is-generate-button {
  min-width: 12em;

  &.is-spoiler {
    background-color: #900000;
    border-color: transparent;
  }
}

.field.is-generate-field {
  margin: 2em;
}

hr {
  margin: 0;
}

.section.randomizer-content {
  height: calc(100% - 3em);
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-customize-settings-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
