<div class="section">
  <form [formGroup]="getForm()">
    <label class="label is-small">Choose a Preset</label>
    <div class="field is-grouped" style="margin-bottom: 1.5rem;">
      <div class="control is-expanded">
        <div class="select is-fullwidth is-small">
          <select formControlName="preset">
            <option *ngFor="let preset of getPresetsDropdown()" [value]="preset" (change)="onPresetChange($event)">{{ preset }}</option>
          </select>
        </div>
      </div>
      <div class="control" *ngIf="!isCustomPreset()">
        <button class="button is-info is-small" (click)="setCustomPreset()">Customize</button>
      </div>
      <div class="control">
        <button class="button is-info is-small" [disabled]="isCustomPreset()" (click)="loadPreset()">Load</button>
      </div>
    </div>
    <app-settings [form]="getForm()" [disabled]="!isCustomPreset()"></app-settings>
    <div class="field is-generate-field">
      <div class="control">
        <div class="buttons is-centered">
          <button class="button is-generate-button is-success">Generate</button>
          <button class="button is-generate-button is-link">Generate with Spoilers</button>
        </div>
      </div>
    </div>
  </form>
</div>
