<div class="app-wrapper-content">
  <section class="section randomizer-content">
    <div *ngIf="isLoaded() then loaded; else loading"></div>
    <ng-template #loaded>
      <form [formGroup]="getFormGroup()">
        <div class="columns">
          <div class="column is-one-half">
            <label class="label is-small">Choose a Preset</label>
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth is-small">
                  <select formControlName="preset">
                    <option *ngFor="let preset of getPresetsDropdown()" [value]="preset">{{ preset }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="buttons are-small">
                <button class="button is-link" (click)="setCustomPreset()" *ngIf="!isCustomPreset()">Customize</button>
                <button class="button is-success" (click)="openSavePresetModal()"
                  *ngIf="isCustomPreset()">Save</button>
                <button class="button is-danger" (click)="openRemovePresetModal(getPresetValue())"
                  *ngIf="isUserPreset()">Remove</button>
                <button class="button is-info" (click)="importPreset()">Import</button>
                <button class="button is-info" (click)="exportPreset()" *ngIf="isUserPreset()">Export</button>
              </div>
            </div>
          </div>
          <div class="column is-one-half">
            <div class="field">
              <label class="label is-small">Number of Seeds to Generate</label>
              <div class="control">
                <input class="input is-small" type="number" formControlName="generationCount">
                <div *ngIf="getFormGroup().controls.generationCount.errors">
                  <p class="help is-danger" *ngIf="getFormGroup().controls.generationCount.errors.min">Minimum count is 1.</p>
                  <p class="help is-danger" *ngIf="getFormGroup().controls.generationCount.errors.max">Maximum count is 99.</p>
                  <p class="help is-danger" *ngIf="getFormGroup().controls.generationCount.errors.required">You must enter a number
                    between 1 and 99.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-customize-settings-container *ngIf="isCustomPreset()">
        </app-customize-settings-container>
        <app-read-only-settings-container [randomizerForm]="getFormGroup().value" *ngIf="!isCustomPreset()">
        </app-read-only-settings-container>
      </form>
    </ng-template>
    <ng-template #loading>
      <div class="loading-indicator"></div>
    </ng-template>
  </section>
</div>
<hr>
<section class="section randomizer-footer">
  <div class="buttons are-medium is-centered">
    <button class="button is-generate-button is-success" (click)="generateSeed(false)">Generate</button>
    <button class="button is-generate-button is-info" (click)="generateSeed(true)">Generate with Spoilers</button>
  </div>
</section>
<app-save-preset-modal (onSave)="addOrUpdatePreset($event)"></app-save-preset-modal>
<app-remove-preset-modal (onRemove)="removePreset($event)"></app-remove-preset-modal>
