<md-card>
  <h2>Game Modes</h2>
  <md-card-content>
    <p>Game modes currently affect how items are randomized.</p>
    <md-card>
      <h3>Standard</h3>
      <md-card-content>
        <p>
          This mode randomizes upgrades, artifacts, and expansions across all 100 item locations.
          Upgrades and artifacts can be found where expansions were normally located, and vice-versa.
        </p>
      </md-card-content>
    </md-card>
    <md-card>
      <h3>Major Items</h3>
      <md-card-content>
        <p>
          Items are shuffled in two separate pools: Upgrades/Artifacts/Energy Tanks in one, and Missile/Power Bomb
          Expansions in the other.
        </p>
        <p>
          All major items (upgrades, artifacts, Energy Tanks) will be located in the game's original major item locations,
          and will never be found where Missile or Power Bomb expansions were originally located. Ammo expansions will never
          be placed in major item locations.
        </p>
        <p>
          This mode is very similar to how <a href="https://itemrando.supermetroid.run">tewtal's Super Metroid Randomizer</a>
          shuffles upgrades and ammo packs.
        </p>
      </md-card-content>
    </md-card>
  </md-card-content>
</md-card>
