<div class="field">
  <div class="label is-small">Trick Difficulty</div>
  <div class="field is-grouped">
    <div class="control">
      <div class="select is-small">
        <select [(ngModel)]="selectedDifficulty">
          <option [value]="difficulty" *ngFor="let difficulty of DIFFICULTIES">{{ difficulty }}</option>
        </select>
      </div>
    </div>
    <div class="control buttons are-small">
      <button class="button is-success" (click)="addAllTricksForDifficulty(selectedDifficulty)">Add All</button>
      <button class="button is-danger" (click)="removeAllTricksForDifficulty(selectedDifficulty)">Remove All</button>
    </div>
  </div>
</div>
<p-pickList [source]="items.available" [target]="items.selected" filterBy="label" [style]="GLOBAL_STYLE"
  [sourceStyle]="GLOBAL_STYLE" [targetStyle]="GLOBAL_STYLE" [metaKeySelection]="false" [responsive]="true"
  [showSourceControls]="false" [showTargetControls]="false" [sourceHeader]="'Disabled'" [targetHeader]="'Enabled'"
  (onMoveToTarget)="addItems($event)" (onMoveToSource)="removeItems($event)">
  <ng-template let-item pTemplate="listItem">
    <div [pTooltip]="item.tooltip" tooltipStyleClass="is-wide-tooltip">
      {{ item.label }}
    </div>
  </ng-template>
</p-pickList>
