{{ randomizerForm.value | json }}
<section class="section">
  <div class="container">
    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li *ngFor="let tab of tabs; let i = index" [ngClass]="{'is-active': selectedTab === i}" (click)="selectedTab = i">
          <a>{{ tab }}</a>
        </li>
      </ul>
    </div>
    <div id="tab-container" class="container">
      <section *ngIf="selectedTab === 0">
        <app-rom-settings [group]="randomizerForm.controls['rom']"></app-rom-settings>
      </section>
      <section *ngIf="selectedTab === 1">
        <app-main-rules [group]="randomizerForm.controls['settings']"></app-main-rules>
      </section>
    </div>
    <div class="section randomizer-footer">
      <form [formGroup]="randomizerForm">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Seed Number</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="number" min="1" max="999999999" placeholder="Random Seed"
                  formControlName="seed">
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="buttons is-centered" style="margin-top: 2em;">
        <button class="button" (click)="resetSettings()">Reset Settings to Default</button>
        <button class="button is-primary " (click)="runRandomizer()" [ngClass]="{'is-loading': patching === true}">Randomize</button>
      </div>
      <p *ngIf="patching" class="has-text-centered">{{ patchUpdate }}</p>
    </div>
  </div>
</section>