<section class="section">
  <!-- <div class="field is-grouped">
    <div class="control">
      <p class="title is-5">Permalink</p>
      <p class="subtitle is-6 is-vertically-centered">
        <span style="margin-right: 0.5rem;">{{ getPermalink(getCurrentSeed()) }}</span>
        <button ngxClipboard [cbContent]="getPermalink(getCurrentSeed())" class="button is-info is-small">Copy</button>
      </p>
    </div>
    <div class="control">
    </div>
  </div>
  <div class="field">
    <p class="title is-5">Seed Hash</p>
    <p class="subtitle is-6">
      <span *ngFor="let hashEntry of getCurrentSeed().seedHash" class="hashEntry">{{ hashEntry }}</span>
    </p>
  </div> -->
</section>
