<div class="app-wrapper-content">
  <section class="section">
    <div class="columns">
      <div class="column is-half">
        <div class="box">
          <div class="seed-details" *ngFor="let seed of getSeeds()">
            <div class="field">
              <p class="title is-6">Permalink</p>
              <p class="subtitle is-6 is-vertically-centered">
                <span style="margin-right: 0.5rem;">{{ getPermalink(seed) }}</span>
                <button class="button is-info is-small" (click)="copyPermalink(getPermalink(seed))">Copy</button>
              </p>
            </div>
            <div class="field">
              <p class="title is-6">Seed Hash</p>
              <p class="subtitle is-6">
                <span *ngFor="let hashEntry of seed.seedHash" class="hashEntry">{{ hashEntry }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <p>Form goes here</p>
      </div>
    </div>
  </section>
</div>
