<form [formGroup]="settingsForm">
  <div class="columns">
    <div class="column">
      <p class="label">Restrictions</p>
      <div class="box">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="requireVisors"> Require visors for power conduits, invisible
              platforms, Thardus
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noReversePhendranaBombs"> Require Bombs for reverse Phendrana Drifts
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noBombsPointOfNoReturnTunnels"> No Bombs in "Point of No Return" Morph Ball tunnels
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noEarlyPhazonSuit"> No early Phazon Suit
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noSupers"> Don't require Super Missiles
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noCrashedFrigate"> Nothing in Crashed Frigate
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noVanillaBeams"> No beams in vanilla beam rooms
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noSpiderBallInQuarantineCave"> No Spider Ball in Quarantine Cave
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="noGravitySuitInGravityChamber"> No Gravity Suit in Gravity Chamber
            </label>
          </div>
        </div>
      </div>
      <p class="label">Out of Bounds</p>
      <div class="box">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="rootCaveSW"> Root Cave Secret World
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="ibbf"> "IBBF" Wallcrawl for late Chozo access
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="trainingChamberOOB"> Training Chamber (Access) Wallcrawl
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="waveSun"> Wave/Sun Infinite Speed
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="workstationToPlasmaProcessing"> Magmoor Workstation SW to Plasma
              Processing
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="earlyNewborn"> Early Newborn
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="oobNoBombs"> Allow OOB without Morph Ball Bombs
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="floatyJump"> Floaty Jump
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <p class="label">Expected Tricks</p>
      <div class="box">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="dashing"> Dashing/Scan Dashing
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="standableTerrain"> Standable terrain exploits
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="lJumping"> L Jumping
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="rJumping"> R Jumping
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="ghettoJumping"> Ghetto Jumps
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="earlyWild"> Sunchamber Ghost Fight item early
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="infiniteSpeedEarlySun"> Infinite Speed (Early Sun)
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="infiniteSpeedMagmaPool"> Infinite Speed (Magma Pool)
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="infiniteSpeedHote"> Infinite Speed (Hall of the Elders)
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="barsSkip"> Great Tree Hall Gate Skip
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="spinnersNoBoost"> Life Grove/Elite Research spinners without
              Boost Ball
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="spiderlessShafts"> Spiderless Shafts (Phazon Mines)
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="infiniteBoostEliteResearch"> Infinite Boost Wall Clip into Elite Research (Mines)
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="phazonMiningTunnelNoPhazonSuit"> Phazon Mining Tunnel without
              Phazon Suit
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="dbj"> Double Bomb Jump sequence breaks
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="hbjPastHote"> Hyper Bomb Jump (HBJ) past Hall of the Elders
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="halfPipeBombJumps"> Half-Pipe Bomb Jumps
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="vmr"> Suitless Magmoor Run to Phendrana/Mines
            </label>
          </div>
        </div>
        <div class="field">
          <label>Number of Energy Tanks Required</label>
          <div class="control">
            <input class="input" type="number" formControlName="vmrTanks" min="5" max="14">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="earlyMagmoorNoSuit"> Early Magmoor Items Without a Suit
            </label>
          </div>
        </div>
        <div class="field">
          <label>Number of Energy Tanks Required</label>
          <div class="control">
            <input class="input" type="number" formControlName="earlyMagmoorNoSuitTanks" min="7" max="14">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
