<md-card>
    <h2>Game Logics</h2>
    <md-card-content>
      <p>
        There are logic rules in place which prevent you from being locked out of progression and guaranteeing
        that you’ll be able to finish the game every time regardless of the distribution of items. The different
        game modes use different logic and assume different levels of game knowledge and ability.
      </p>
      <md-card>
        <h3>No Glitches</h3>
        <md-card-content>
          <p>This mode requires no advanced knowledge about the game, and is ideal for casual players.</p>
          <p>
            This logic is designed to prevent players from getting stuck in as many locations as possible,
            but it is still possible to softlock when you enter a room that you're unable to leave (ex: vanilla
            beam rooms without the necessary beam to escape, Elite Quarters without obtaining X-Ray visor).
          </p>
        </md-card-content>
      </md-card>
      <md-card>
        <h3>Minor Glitches</h3>
        <md-card-content>
          <p>This mode accounts for the more widely-used glitches, sequence breaks, and techniques in the game. They are as follows:</p>
          <ul>
            <li>Dashing (such as scan dashing)</li>
            <li>Slope Jumping (also known as Ghetto Jumping)</li>
            <li>L and R Jumping</li>
            <li>Double Bomb Jumping</li>
            <li>Bomb Space Jumping (few cases, but mainly for doing Spiderless Shafts)</li>
            <li>Infinite Speed (allows access to Chozo Ice Temple, Phendrana Shorelines (Ice), Magma Pool items)</li>
            <li>Abusing collision that you can stand on (such as skipping Boost Ball to get the Crossway Item)</li>
            <li>Traversing Magmoor Caverns without Varia Suit (Varia-less Magmoor Runs/VMR)</li>
          </ul>
          <p>
            This relaxes a lot of the room requirements, allowing for a more broadly randomized game. Because of this,
            the following scenarios can happen in a run:
          </p>
          <ul>
            <li>Space Jump Boots will never be in Far Phendrana Drifts or Phazon Mines, but can be found in a few more locations
                in the other regions such as Ruined Courtyard and Research Lab Hydra (locked behind spider/boost ball
                and super missiles).</li>
            <li>This logic will never require you to go out-of-bounds. For instance, Plasma Beam can be found at the Control Tower
              and Chozo Ice Temple, but it won't be in Arbor Chamber.</li>
            <li>You may be required to traverse Magmoor Caverns with just the Power Suit, but only if
              the logic assumes you can obtain a minimum of 6 Energy Tanks.</li>
            <li>Gravity Suit will never be in the crashed frigate (but CAN be found in places like Tower Chamber and the underwater
              Watery Hall location)</li>
            <li>Boost Ball can be found anywhere except for the three Life Grove and Elite Research (Laser) locations, making certain
              scenarios such as the Mines gate skip a possible requirement.
            </li>
            <li>Spider Ball can be found anywhere that doesn't strictly require it inbounds, such as the Dynamo Spider track
              and the Sunchamber ghost fight. It can be found anywhere in the Phazon Mines, making it possible
              for a seed to require the player to perform the Spiderless Shafts trick.</li>
            <li>A lot of locations assume you can skip the Grapple beam using well-executed L or R jumps. It can be found in
              Plasma Processing, for instance.</li>
            <li>Charge Beam, Spider Ball, and Super Missile will never be found at the Sunchamber ghost fight, so Early Wild
              is never required to beat the game.</li>
          </ul>
        </md-card-content>
      </md-card>
      <md-card>
          <h3>Naive</h3>
          <md-card-content>
            <p>This mode simply places items in random locations without any logic checking.</p>
            <p>
              This mode shouldn't be taken seriously, and is recommended for testing purposes only
              due to the sheer number of incompleteable seeds it can produce.
            </p>
          </md-card-content>
        </md-card>
    </md-card-content>
  </md-card>
