<mat-card>
  <h2>Game Logics</h2>
  <mat-card-content>
    <p>
      There are logic rules in place which prevent you from being locked out of progression and guaranteeing that you’ll be able
      to finish the game every time regardless of the distribution of items. The different game modes use different logic
      and assume different levels of game knowledge and ability.
    </p>
    <mat-card>
      <h3>Casual</h3>
      <mat-card-content>
        <p>This mode requires no advanced knowledge about the game, nor does it require any glitches to be used, making it ideal
          for casual players.</p>
        <p>
          This logic is designed to prevent players from getting stuck in as many locations as possible, but it is still possible to
          softlock when you enter a room that you're unable to leave (ex: vanilla beam rooms without the necessary beam to
          escape, Elite Quarters without obtaining X-Ray visor).
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <h3>Normal</h3>
      <mat-card-content>
        <p>This mode accounts for some of the easier-to-execute glitches, techniques, and sequence breaks in the game. They
          are as follows:</p>
        <ul>
          <li>Dashing (such as scan dashing)</li>
          <li>Ghetto (Slope) Jumping</li>
          <li>L Jumping</li>
          <li>Visor skips for puzzles (such as power conduits, invisible platforms)</li>
          <li>Exploiting collision you can stand on (allows access to rooms and items without Spider Ball, Grapple Beam, etc.)</li>
        </ul>
        <p>
          You will never be forced to do any of the following:
        </p>
        <ul>
          <li>NSJ (no space jump) techniques in rooms that expect you to have Space Jump Boots equipped (Pirate labs, Phazon
            Mines, etc.)</li>
          <li>Underwater ghetto jumps without Space Jump Boots</li>
          <li>Infinite Speed glitch</li>
          <li>Traversing Magmoor Caverns without a suit</li>
          <li>Traversing Twin Fires Tunnel by scan dashing or R jumping</li>
          <li>Out of bounds sequences, or tricks requiring you to go out of bounds</li>
          <li>Bars skip in Great Tree Hall</li>
          <li>Life Grove/Life Grove Tunnel without Boost Ball</li>
          <li>Geothermal Core puzzle without Boost Ball</li>
          <li>Exit Gravity Chamber without Gravity Suit</li>
          <li>Exit Quarantine Cave without Spider Ball or Grapple Beam</li>
          <li>Quarantine Monitor without Spider Ball or Grapple Beam</li>
          <li>Crashed Frigate without Gravity Suit or Wave Beam</li>
          <li>Phazon Mines past Ventilation Shaft without Boost Ball</li>
          <li>Spider Ball skips in Phazon Mines, such as spiderless shafts</li>
          <li>Root Cave, Magma Pool, Training Chamber Access, and Training Chamber without Grapple Beam</li>
          <li>"Early Wild" Infinite Bomb Jump</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <h3>Hard</h3>
      <mat-card-content>
        <p>This mode is a considerable step up from normal difficulty, meant to be similar to the Veteran difficulty that Interslice's
          seed generator uses.</p>
        <ul>
          <li>All 22% tricks, and some of the easier 21% tricks, are required.</li>
          <li>You do NOT need to be suitless to collect all of the items in the first half of Magmoor Caverns.</li>
          <li>However, you MAY need to do a suitless Magmoor run to find progression items in Phendrana or Mines. The logic assumes
            a minimum of 5 required Energy Tanks for a standard VMR, and 1 or 2 tanks if going through Twin Fires Tunnel with Space Jump/Spider
            Ball.</li>
          <li>Boost Ball, Spider Ball, Space Jump Boots, and Grapple Beam can be found almost anywhere.</li>
          <li>All "lategame" areas (far Magmoor, far Phendrana, far Tallon, lower Phazon Mines) require either the Space Jump
            Boots or the Spider Ball for progression.</li>
          <li>Space Jump Boots will never be in Phazon Processing Center Access.</li>
          <li>Storage Cave and Security Cave require the Grapple Beam if you do not have Space Jump Boots.</li>
          <li>Floaty Jump is currently not required.</li>
          <li>Gravity Suit will never be in the crashed frigate.</li>
          <li>The following out-of-bounds wallcrawls are accounted for:
            <ul>
              <li>Ice Beam Before Flaahgra</li>
              <li>Crossway Infinite Speed</li>
              <li>Wave/Sun IS</li>
              <li>Training Chamber</li>
              <li>Arbor Chamber</li>
            </ul>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>