<div class="section app-wrapper-content">
  <form [formGroup]="getForm()">
    <label class="label is-small">Base ISO</label>
    <div class="field is-grouped">
      <div class="control is-expanded">
        <input class="input is-small" type="text" formControlName="baseIso">
      </div>
      <div class="control">
        <button class="button is-info is-small" [disabled]="fileControlsDisabled$ | async" (click)="selectBaseIso()">
          Choose File
        </button>
      </div>
    </div>
    <label class="label is-small">Output Folder</label>
    <div class="field is-grouped">
      <div class="control is-expanded">
        <input class="input is-small" type="text" formControlName="outputFolder">
      </div>
      <div class="control">
        <button class="button is-info is-small" (click)="selectOutputFolder()">
          Choose Folder
        </button>
      </div>
      <div class="control">
        <button class="button is-info is-small" (click)="openOutputFolder()">Open</button>
      </div>
    </div>
    <label class="label is-small">Trilogy ISO (for Flaahgra music fix)</label>
    <div class="field is-grouped">
      <div class="control is-expanded">
        <input class="input is-small" type="text" formControlName="trilogyIso">
      </div>
      <div class="control">
        <button class="button is-info is-small" [disabled]="fileControlsDisabled$ | async" (click)="selectTrilogyIso()">
          Choose File
        </button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-centered">
        <label class="label is-small">Number of Seeds to Generate</label>
        <div id="generation-count" class="field">
          <div class="control">
            <input class="input is-small has-text-centered" type="number" formControlName="generationCount">
          </div>
        </div>
        <label class="label is-small">Output Type</label>
        <div class="field">
          <div class="control">
            <div class="select is-small">
              <select formControlName="outputType">
                <option *ngFor="let fileType of fileTypes" value="{{ fileType.value }}">{{ fileType.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <label class="label">Game Tweaks</label>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="spoiler"> Generate Spoiler Log
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="skipFrigate"> Start at Landing Site (Skips the Frigate)
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="skipHudPopups"> Remove Item Acquisition Popups
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="hideItemModels"> Hide Item Models
            </label>
          </div>
        </div>
        <div class="field">
          <p class="has-text-danger">Changing these settings will change the seed.</p>
        </div>
      </div>
    </div>
  </form>
</div>
