<div class="section app-wrapper-content">
  <form>
    <label class="label is-small">Base ISO</label>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-small" type="text">
      </div>
      <div class="control">
        <a class="button is-info is-small">
          Select ISO
        </a>
      </div>
    </div>
    <label class="label is-small">Output Folder</label>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-small" type="text" placeholder="Defaults to Documents/Metroid Prime Randomizer">
      </div>
      <div class="control">
        <a class="button is-info is-small">
          Select Folder
        </a>
      </div>
    </div>
  </form>
</div>
