<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <section class="mat-typography sidenav-container">
      <h2 class="centered">Metroid Prime Randomizer</h2>
      <div class="divider"></div>
      <mat-nav-list>
          <a mat-list-item *ngFor="let navItem of navItems" routerLink="{{ navItem.link }}" (click)="sidenav.close()">
            <mat-icon mat-list-icon>{{ navItem.icon }}</mat-icon> {{ navItem.text }}
          </a>
          <a mat-list-item href="https://github.com/etaylor8086/prime-randomizer-web"><mat-icon mat-list-icon>code</mat-icon> View source code on GitHub</a>
          <a mat-list-item href="https://github.com/etaylor8086/prime-randomizer-web/issues"><mat-icon mat-list-icon>report problem</mat-icon> Report an Issue</a>
      </mat-nav-list>
    </section>
  </mat-sidenav>
  <mat-toolbar color="primary" id="">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="spacer-sm"></div>
      <button mat-button routerLink="/">
        <span>{{ title }}</span>
      </button>
      <!-- <span><a routerLink="/">{{title}}</a></span> -->
      <button mat-button routerLink="/randomizer" class="rando-navbar-hide-small">
        <span>Generate Randomized Game</span>
      </button>
      <span class="toolbar-spacer"></span>
      <button mat-button [matMenuTriggerFor]="helpMenu" class="rando-navbar-hide-small">Help</button>
      <mat-menu #helpMenu="matMenu" class="rando-navbar-hide-small">
        <a mat-menu-item *ngFor="let helpItem of helpItems" routerLink="{{ helpItem.link }}">{{ helpItem.text }}</a>
      </mat-menu>
      <a href="https://github.com/etaylor8086/prime-randomizer-web/issues" mat-button class="rando-navbar-hide-small">Report Issue</a>
    </mat-toolbar-row>
    
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
