.centered {
  text-align: center;
}

.sidenav-container {
  padding: 15px 0;
}

#siteTitle {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.spacer {
  width: 1em;
}

.spacer-sm {
  width: 0.5em;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.rando-navbar-show-small {
  display: none;
}

@media (max-width: 720px) {
  .rando-navbar-hide-small {
    display: none;
  }
  .rando-navbar-show-small {
    display: block;
  }
}