.centered {
  text-align: center;
}

.sidenav-container {
  padding: 15px 0;
}

#siteTitle {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.spacer {
  width: 1em;
}

.spacer-sm {
  width: 0.5em;
}
