<div class="section">
  <form [formGroup]="getForm()">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label is-small">Goal</label>
          <div class="control">
            <div class="select is-small">
              <select formControlName="goal">
                <option *ngFor="let option of getDropdownChoices('goal')" value="{{ option.value }}">{{ option.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="field" *ngIf="isArtifactCollectionSelected()">
          <label class="label is-small">Number of Chozo Artifacts</label>
          <div class="control">
            <div class="select is-small">
              <select formControlName="goalArtifacts">
                <option *ngFor="let option of getDropdownChoices('goalArtifacts')" value="{{ option.value }}">
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="field" *ngIf="isArtifactCollectionSelected()">
          <div class="control">
            <label class="checkbox label is-small">
              <input type="checkbox" formControlName="artifactLocationHints"> Show Location Hints for Chozo Artifacts
            </label>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Heat Protection</label>
          <div class="control">
            <div class="select is-small">
              <select formControlName="heatProtection">
                <option *ngFor="let option of getDropdownChoices('heatProtection')" value="{{ option.value }}">
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Suit Damage Reduction</label>
          <div class="control">
            <div class="select is-small">
              <select formControlName="suitDamageReduction">
                <option *ngFor="let option of getDropdownChoices('suitDamageReduction')" value="{{ option.value }}">
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <div class="control">
            <label class="checkbox label is-small">
              <input type="checkbox"> Shuffle Missile Launcher
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox label is-small">
              <input type="checkbox"> Shuffle Morph Ball
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox label is-small">
              <input type="checkbox"> Shuffle Morph Ball Bomb
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox label is-small">
              <input type="checkbox"> Shuffle Charge Beam
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox label is-small">
              <input type="checkbox"> Shuffle Space Jump Boots
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>