// Metroid Prime Randomizer Bulma overrides
$prime-menu-color: #c66320;
$info: #0050a0;
$link: $prime-menu-color;
$link-hover: #f89552;
$link-active: #943100;
$success: #2ea071;
$input-placeholder-color: #a0a0a0;
