<form [formGroup]="form">
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox"> Skip the Space Pirate Frigate
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox"> Remove Item Acquisition Popups
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox"> Obscure all Item Models
      </label>
    </div>
  </div>
</form>