<form [formGroup]="form">
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="skipFrigate"> Skip the Space Pirate Frigate
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="skipHudPopups"> Remove Item Acquisition Popups
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="hideItemModels"> Obscure all Item Models
      </label>
    </div>
  </div>
</form>