<form [formGroup]="getFormGroup()">
  <div class="columns is-multiline">
    <div class="column is-one-third">
      <div class="field">
        <input class="is-checkradio" id="skipFrigate" type="checkbox" formControlName="skipFrigate">
        <label for="skipFrigate"
          [pTooltip]="DETAILS.skipFrigate.description">{{ getDisplayName('skipFrigate') }}</label>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="field">
        <input class="is-checkradio" id="skipHudPopups" type="checkbox" formControlName="skipHudPopups">
        <label for="skipHudPopups"
          [pTooltip]="DETAILS.skipHudPopups.description">{{ getDisplayName('skipHudPopups') }}</label>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="field">
        <input class="is-checkradio" id="hideItemModels" type="checkbox" formControlName="hideItemModels">
        <label for="hideItemModels"
          [pTooltip]="DETAILS.hideItemModels.description">{{ getDisplayName('hideItemModels') }}</label>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="field">
        <input class="is-checkradio" id="enableMainPlazaLedgeDoor" type="checkbox" formControlName="enableMainPlazaLedgeDoor">
        <label for="enableMainPlazaLedgeDoor"
          [pTooltip]="DETAILS.enableMainPlazaLedgeDoor.description">{{ getDisplayName('enableMainPlazaLedgeDoor') }}</label>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="field">
        <input class="is-checkradio" id="skipImpactCrater" type="checkbox" formControlName="skipImpactCrater">
        <label for="skipImpactCrater"
          [pTooltip]="DETAILS.skipImpactCrater.description">{{ getDisplayName('skipImpactCrater') }}</label>
      </div>
    </div>
  </div>
</form>
