<form [formGroup]="romSettingsForm">
  <label class="label is-required">Base ISO</label>
  <div class="field has-addons tooltip is-tooltip-bottom is-tooltip-multiline" attr.data-tooltip="{{ tooltips.baseIso }}">
    <div class="control is-expanded">
      <input class="input" type="text" formControlName="baseIso" [ngClass]="{'is-danger': submitted && romSettingsForm.get('baseIso').errors}">
    </div>
    <div class="control">
      <button class="button file-cta" (click)="selectBaseIso()">Select ISO</button>
    </div>
  </div>
  <p class="help is-danger" *ngIf="submitted && romSettingsForm.get('baseIso').errors?.required">This field is required</p>
  <label class="label">Output Folder</label>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" type="text" formControlName="outputFolder">
    </div>
    <div class="control">
      <button class="button file-cta" (click)="selectOutputFolder()">Select Folder</button>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p class="label">ROM Output</p>
      <div class="box">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="generateRom"> Generate ROM
            </label>
          </div>
        </div>
        <div class="field">
          <label>File Type</label>
          <div class="control">
            <div class="select tooltip is-tooltip-multiline is-tooltip-right-tablet" attr.data-tooltip="{{ tooltips.fileType }}">
              <select formControlName="fileType">
                <option *ngFor="let fileType of fileTypes" value="{{ fileType.value }}">{{ fileType.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <p class="label">Game</p>
      <div class="box">
        <div class="field">
          <div class="control">
            <label class="checkbox tooltip is-tooltip-left-tablet" attr.data-tooltip="{{ tooltips.spoiler }}">
              <input type="checkbox" formControlName="spoiler"> Create Spoiler
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox tooltip is-tooltip-left-tablet" attr.data-tooltip="{{ tooltips.skipFrigate }}">
              <input type="checkbox" formControlName="skipFrigate"> Skip the Space Pirate Frigate
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox tooltip is-tooltip-left-tablet" attr.data-tooltip="{{ tooltips.skipHudPopups }}">
              <input type="checkbox" formControlName="skipHudPopups"> Skip Item Acquisition Popups
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox tooltip is-tooltip-left-tablet" attr.data-tooltip="{{ tooltips.hideItemModels }}">
              <input type="checkbox" formControlName="hideItemModels"> Hide Item Models
            </label>
          </div>
        </div>
        <p style="color: #f00;">Changing these settings will change the seed!</p>
      </div>
    </div>
  </div>

</form>
