<form [formGroup]="romSettingsForm">
  <label class="label is-required">Base ISO</label>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" type="text" formControlName="baseIso" [ngClass]="{'is-danger': submitted && romSettingsForm.get('baseIso').errors}">
    </div>
    <div class="control">
      <button class="button file-cta" (click)="selectBaseIso()">Select ISO</button>
    </div>
  </div>
  <p class="help is-danger" *ngIf="submitted && romSettingsForm.get('baseIso').errors?.required">This field is required</p>
  <label class="label">Output Folder</label>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" type="text" formControlName="outputFolder">
    </div>
    <div class="control">
      <button class="button file-cta" (click)="selectOutputFolder()">Select Folder</button>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="spoiler"> Create Spoiler
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="createIso"> Create ISO
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="skipFrigate"> Skip Frigate
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="skipHudPopups"> Skip HUD Popups
      </label>
    </div>
  </div>
</form>