.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

app-navigation, app-footer {
  flex-shrink: 0;
}

.wrapper {
  flex-grow: 1;
  overflow: auto;
}
