.section {
    padding: 1.5rem;
}

.rando-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

// .rando-header,
// .rando-footer {
//     background: silver;
// }

.rando-content {
    flex: 1;
    overflow: auto;
    // background: pink;
}

.section.rando-content {
    padding-top: 0;
    padding-bottom: 0;
}