<div class="rando-wrapper">
  <div class="section rando-header">
    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li *ngFor="let tab of tabs; let i = index" [ngClass]="{'is-active': selectedTab === i}" (click)="selectedTab = i">
          <a>{{ tab }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section rando-content">
    <section *ngIf="selectedTab === 0">
      <app-rom-settings [group]="randomizerForm"></app-rom-settings>
    </section>
    <section *ngIf="selectedTab === 1">
      <app-main-rules [group]="randomizerForm"></app-main-rules>
    </section>
    <section *ngIf="selectedTab === 2">
      <app-item-logic [group]="randomizerForm"></app-item-logic>
    </section>
  </div>
  <div class="section rando-footer">
    <hr>
    <div class="box" id="newUpdate" *ngIf="newVersion">
      <label class="label">New Version Available!</label>
      <a (click)="openExternalUrl('https://github.com/etaylor8086/metroid-prime-randomizer/releases/latest')">Download version {{ newVersion }}</a>
    </div>
    <form [formGroup]="randomizerForm">
      <div class="columns">
        <div class="column">
          <label class="label">Seed Number</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="number" placeholder="Random Seed" formControlName="seed" [min]="1" [max]="maxSafeInteger" [ngClass]="{'is-danger': submitted && randomizerForm.get('seed').errors}">
            </div>
            <div class="control">
              <button class="button file-cta" (click)="getNewSeed()">New Seed</button>
            </div>
          </div>
          <p class="help is-danger" *ngIf="submitted && randomizerForm.get('seed').errors">Invalid seed</p>
        </div>
        <div class="column">
          <label class="label">Permalink</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" [(ngModel)]="permalink" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="control">
              <button class="button file-cta" (click)="importPermalink()">Import</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="buttons is-centered" style="margin-top: 2em;">
      <button class="button" (click)="openExternalUrl('https://randomizer.metroidprime.run/help')">Help</button>
      <button class="button" (click)="resetSettings()">Reset Settings to Default</button>
      <button class="button is-primary " (click)="runRandomizer()" [disabled]="patching">Randomize</button>
    </div>
  </div>
</div>
