.has-spacing-right {
    margin-right: 0.5em;
}

.list-instructions > li {
    line-height: 1.6;
}

.flat-btn {
    background-color: #808080
}

.flat-btn-light {
    color: #000000;
    background-color: #e0e0e0;
}