@import "~bulma/bulma.sass";
@import "~bulma-tooltip/dist/css/bulma-tooltip.sass";

html {
  overflow: auto;
}

html, body {
  margin: 0;
  height: 100%;
}

.label.is-required:after {
  content: ' *';
  color: red;
}

.tooltip.is-tooltip-multiline::before {
  white-space: pre-line;
}
