@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  overflow: auto;
}

html, body {
  margin: 0;
  height: 100%;
}

.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav {
  width: 320px;
}

.mat-card {
  margin: 0 16px 16px;
}

.app-content {
  padding: 20px 0 50px;
  margin: 0 auto;
  max-width: 960px;
}

.fill-space {
  flex: 1 1 auto;
}

.divider {
  margin: 1em 0;
  border-bottom: 1px solid #e5e5e5;
}

.label.is-required:after {
  content: ' *';
  color: red;
}