<form [formGroup]="settingsForm">
  <div class="columns">
    <div class="column">
      <p class="label">Game</p>
      <div class="box">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="skipFrigate"> Skip Frigate
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="skipHudPopups"> Skip Item Acquisition Popups
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <p class="label">Shuffle</p>
      <div class="box">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffleArtifacts"> Shuffle Chozo Artifacts
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffleMissileLauncher"> Shuffle Missile Launcher
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffleMorph"> Shuffle Morph Ball
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffleBombs"> Shuffle Bombs
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffleCharge"> Shuffle Charge Beam
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffleSupers"> Shuffle Super Missiles
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffleBeams"> Shuffle Beams
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="shuffePBs"> Shuffle Power Bomb and Expansions
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
