<mat-card>
  <h2>Welcome!</h2>
  <mat-card-content>
    <p style="color: #ff0000;">
      <strong>
        NOTE: The randomizer is currently in alpha stages of development. All features are considered unstable,
        and you may run into bugs with the program or randomized games that cannot be completed. If you want to report any issues,
        feel free to <a href="https://github.com/etaylor8086/prime-randomizer-web/issues">open an issue on the project page</a>.
      </strong>
    </p>
    <p>
      Metroid Prime Randomizer is an item randomizer for Metroid Prime (for the Nintendo GameCube).
      Once all of the core features are implemented, you will be able to randomize and patch a
      Metroid Prime .iso from the comfort of your web browser.
    </p>
    <p>Click on <a routerLink="/randomizer" routerLinkActive="active">Generate Randomized Game</a> above to get started.</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <h2>What is a randomizer? How does it work?</h2>
  <mat-card-content>
    <p>
      The idea is that all 100 item locations in the game - upgrades, Chozo Artifacts, and expansions -
      are shuffled around. You never know what you're going to find, and that's what makes a randomizer
      so much fun to play! Depending on what items you get, your exploration through Tallon IV can be
      (drastically) different from game to game.
    </p>
  </mat-card-content>
</mat-card>
