<section class="hero is-medium is-info has-bg-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/banners/landingSite.jpg');">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Metroid Prime Randomizer</h1>
      <h2 class="subtitle">Tallon IV has changed.</h2>
      <a class="button is-large is-primary" routerLink="/randomizer">Start Playing</a>
      <!-- <div class="is-bottom has-text-centered">
        <a class="button is-large is-primary" routerLink="/randomizer">Start Playing</a>
      </div> -->
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <p class="is-size-5">
      In
      <span class="has-text-weight-semibold">Metroid Prime Randomizer</span>, all of the items are shuffled in each playthrough. You may need to defeat Thardus
      to find the Plasma Beam, travel all the way to the depths of the Phazon Mines to find the Super Missiles, or you may
      find that the Phazon Suit is hidden right behind your ship!
    </p>
  </div>
</section>
