.has-bg-img {
  background: #505050;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and ( min-width: 1024px ) {
  .is-bottom {
    position: relative;
    bottom: -5rem;
  }
}
