<div class="modal" [class.is-active]="getOpen()">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 90%; height: 90%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Customize Settings</p>
      <button class="delete" aria-label="close" (click)="setOpen(false)"></button>
    </header>
    <section class="modal-card-body has-text-left">
      <app-picklist [source]="tricks.available" [target]="tricks.selected" [style]="{height: 'calc(100% - 20px)'}"
        [sourceStyle]="{height: 'calc(100% - 20px)'}" [targetStyle]="{height: 'calc(100% - 20px)'}"
        [sourceHeader]="'Available'" [targetHeader]="'Selected'"></app-picklist>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save</button>
      <button class="button" (click)="setOpen(false)">Cancel</button>
    </footer>
  </div>
</div>
