<div class="tabs is-boxed is-small">
  <ul>
    <li *ngFor="let tab of tabs" [ngClass]="{ 'is-active': isTabIdSelected(tab.id) }">
      <a (click)="setSelectedTabId(tab.id)">{{ tab.name }}</a>
    </li>
  </ul>
</div>
<div class="settings-container">
  <app-rom-settings [form]="form.get('romSettings')" [disabled]="disabled" *ngIf="isTabIdSelected(tabIds.rom)"></app-rom-settings>
  <app-rules [form]="form.get('rules')" [disabled]="disabled" *ngIf="isTabIdSelected(tabIds.rules)"></app-rules>
  <app-tricks [form]="form.get('tricks')" [disabled]="disabled" *ngIf="isTabIdSelected(tabIds.tricks)"></app-tricks>
</div>

