<div class="modal" [class.is-active]="getOpen()">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ title }}</p>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div *ngFor="let bar of getProgressBars()">
          <p>{{ bar.text }}</p>
          <progress class="progress is-link" [attr.value]="bar.current" [attr.max]="bar.total"></progress>
        </div>
      </div>
    </section>
  </div>
</div>
