<p>{{ form.value | json }}</p>
<div class="app-wrapper">
  <div class="randomizer-header">
    <div class="tabs is-centered">
      <ul>
        <li *ngFor="let tab of getTabs()" [ngClass]="{ 'is-active': tabActive.isActive }">
          <a routerLink="{{ tab.route }}" routerLinkActive #tabActive="routerLinkActive">{{ tab.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="app-wrapper-content">
    <router-outlet></router-outlet>
  </div>
  <hr>
  <div class="section randomizer-footer">
    <form [formGroup]="getForm()">
      <div class="columns">
        <div class="column">
          <label class="label is-small">Seed</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input is-small" type="text" formControlName="seed">
            </div>
            <div class="control">
              <a class="button is-info is-small">
                New Seed
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <label class="label is-small">Permalink</label>
          <div class="field is-grouped">
            <div class="control is-expanded">
              <input class="input is-small" type="text" disabled>
            </div>
            <div class="control">
              <a class="button is-small">
                Copy
              </a>
            </div>
            <div class="control">
              <a class="button is-info is-small">
                Import
              </a>
            </div>
          </div>
        </div>
      </div>
      <button class="button is-link is-fullwidth" (click)="generateSeed()">Generate</button>
    </form>
  </div>
</div>