<div class="app-wrapper">
  <div class="randomizer-header">
    <div class="tabs is-centered">
      <ul>
        <li *ngFor="let tab of getTabs()" [ngClass]="{ 'is-active': isTabIdSelected(tab.id) }">
          <a (click)="setSelectedTabId(tab.id)">{{ tab.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <app-welcome *ngIf="isTabIdSelected(tabIds.welcome)"></app-welcome>
  <app-generate-game *ngIf="isTabIdSelected(tabIds.generateGame)"></app-generate-game>
  <footer class="footer">
    v{{ getAppVersion() }} &copy; BashPrime, Syncathetic, Pwootage
  </footer>
</div>
