<!-- <p>{{ getForm().value | json }}</p> -->
<div class="app-wrapper">
  <div class="randomizer-header">
    <div class="tabs is-centered">
      <ul>
        <li *ngFor="let tab of getTabs()" [ngClass]="{ 'is-active': isTabIdSelected(tab.id) }">
          <a (click)="setSelectedTabId(tab.id)">{{ tab.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="app-wrapper-content">
    <app-welcome *ngIf="isTabIdSelected(tabIds.welcome)"></app-welcome>
    <app-generate-game *ngIf="isTabIdSelected(tabIds.generateGame)"></app-generate-game>
    <app-seed-history *ngIf="isTabIdSelected(tabIds.history)"></app-seed-history>
    <!-- <app-general-settings [form]="getForm()" *ngIf="isTabIdSelected(tabIds.romSettings)"></app-general-settings>
    <app-rules [form]="getForm()" *ngIf="isTabIdSelected(tabIds.rules)"></app-rules>
    <app-seed-history *ngIf="isTabIdSelected(tabIds.history)"></app-seed-history> -->
  </div>
  <hr>
  <!-- <div class="section randomizer-footer">
    <form [formGroup]="getForm()">
      <div class="columns">
        <div class="column">
          <label class="label is-small">Seed</label>
          <div class="field">
            <div class="control is-expanded">
              <input class="input is-small" type="text" formControlName="seed">
            </div>
          </div>
        </div>
        <div class="column">
          <label class="label is-small">Settings String</label>
          <div class="field is-grouped">
            <div class="control is-expanded">
              <input class="input is-small" type="text" disabled>
            </div>
            <div class="control">
              <a class="button is-small">
                Copy
              </a>
            </div>
            <div class="control">
              <a class="button is-info is-small">
                Import
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link is-fullwidth" (click)="generateSeed()">Generate</button>
        </div>
      </div>
    </form>
  </div> -->
</div>
