<div class="columns">
  <div class="column">
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-small is-info is-fullwidth">
          Add
        </button>
      </p>
      <p class="control">
        <button class="button is-small is-info is-fullwidth">
          All
        </button>
      </p>
      <p class="control">
        <button class="button is-small is-info is-fullwidth">
          None
        </button>
      </p>
    </div>
    <div class="select is-multiple">
      <select multiple>
      </select>
    </div>
  </div>
  <div class="column">
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-small is-info is-fullwidth">
          Remove
        </button>
      </p>
      <p class="control">
        <button class="button is-small is-info is-fullwidth">
          All
        </button>
      </p>
      <p class="control">
        <button class="button is-small is-info is-fullwidth">
          None
        </button>
      </p>
    </div>
    <div class="select is-multiple">
      <select multiple [formControlName]="getFormControlName()">
      </select>
    </div>
  </div>
</div>